.EditLabel label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.25rem;
  flex-grow: 1;
}

.EditLabel .icon {
  margin-left: 0.5rem;
  text-align: right;
  cursor: pointer;
}

.EditLabel .icon i {
  vertical-align: bottom;
}

.EditLabel .icon i:not(:last-child) {
  margin-right: 0.5rem;
}
